{% extends "base_index.html" %}
{% block content_block %}
    <div class="right_col" role="main" style="height: 100%;margin-right: auto">
        <div class="clearfix"></div>
        <div class="row">
            <div class="container">
            <div class="col-md-12 col-sm-12 col-xs-12" style="height: auto;margin-top: 30px">
                <div class="x_panel">
                    <div class="x_content">

                        <form method="post" role="form" enctype="multipart/form-data" class="form-horizontal form-label-left" novalidate>
                            {% csrf_token %}
                            <span class="section">اطلاعات شخصی</span>
                            <center>
                                <div style="width: 20%;margin-bottom: 20px"><b style="margin-left: 40px"> رمز قبلی: </b>{{ form.old_password }}</div>
                                <div style="width: 20%;margin-bottom: 20px"><b style="margin-left: 37px"> رمز جدید : </b>{{ form.new_password1 }}</div>
                                <div style="width: 20%;margin-bottom: 20px"><b style="margin-left: 10px">تایید رمز جدید: </b>{{ form.new_password2 }}</div>
                            </center>
                            <div class="ln_solid"></div>

                            <div class="form-group">
                                    <input style="border-color: #2aabd2;background-color: #5bc0de" type="submit" value="ذخیره" class="btn btn-default ">
                            </div>

                        </form>

                    </div>
                </div>
            </div>
            </div>
        </div>

</div>
{% endblock content_block %}